@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}

.hidden-sm {
    @media (max-width: 499px) {
        display: none !important;
    }
}

.margin-side {
    @media (max-width: 499px) {
            margin: 0 10px 10px 0
        }
}